@use "patterns";

.burgerMenu{
    
    width: 24px;
    height:18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 99;
    top:27px;
    left: 40px;
    background-color:transparent;
    border: none;
    cursor: pointer;

    @media (max-width: 768px){
        left: 24px;
    }
    

    &_line{
        background-color: #fff;
        height: 1px;
        width: 100%;
        transition: all 0.3s ease;
        

        &--shorter{
            width: 75%;
        }
    }

    &:hover{
            .burgerMenu_line{
                background-color: patterns.$secondaryTxt;
        }
    }
}

.burgerMenu--close .burgerMenu_line:nth-child(1) {
    transform: rotate(45deg) translate(4.5px, 4.5px);
}

.burgerMenu--close .burgerMenu_line:nth-child(2) {
    opacity: 0;
}

.burgerMenu--close .burgerMenu_line:nth-child(3) {
    transform: rotate(-45deg) translate(4.5px, -4.5px);
}


