@use "patterns";


@mixin gradientBg{
    background:linear-gradient(90deg, #124e07, #bdea7c 35%, #e890af 65%, #70203b);
    border: none;
    color: #000;
}    

.header{
    width: 100%;
    position: fixed;
    top:0;

    &_container{
        height: 72px;
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_button{
            display: flex;
            align-items: center;
            background-color:transparent;
            border: none;
            cursor: pointer;


            .share{
                display: flex;
                align-items: center;
                z-index: 60;
                &:hover{
                    span{
                        color: patterns.$secondaryTxt;
                    }
                    svg{
                        fill: patterns.$secondaryTxt;
                    }
                }
                span{
                    margin-right: 10px;
                }
            }

            

            &--gradient{
                @include gradientBg();
                padding: 9px 24px;
                border-radius: 40px;
                color:#000;
                margin:18px 32px 18px auto;
            }
        }
    }
}    

.burgerMenu{
    width: 24px;
    height:18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &_line{
        background-color: #fff;
        height: 1px;
        width: 100%;
        transition: all 0.3s ease;

        &--shorter{
            width: 75%;
        }
    }

    &:hover{
            .burgerMenu_line{
                background-color: patterns.$secondaryTxt;
        }
    }
}

.burgerMenu--close .burgerMenu_line:nth-child(1) {
    transform: rotate(45deg) translate(4.5px, 4.5px);
}

.burgerMenu--close .burgerMenu_line:nth-child(2) {
    opacity: 0;
}

.burgerMenu--close .burgerMenu_line:nth-child(3) {
    transform: rotate(-45deg) translate(4.5px, -4.5px);
}
