@use "patterns";


@mixin gradientBg{
    background:linear-gradient(90deg, #124e07, #bdea7c 35%, #e890af 65%, #70203b);
    border: none;
    color: #000;
}    

.header{
    width: 100%;
    position: fixed;
    top:0;
    

    &_container{
        height: 72px;
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px){
            padding: 0 24px 0 42px;
        }
        

        &_button{
            display: flex;
            align-items: center;
            background-color:transparent;
            border: none;
            cursor: pointer;
            

            .share{
                display: flex;
                align-items: center;
                z-index: 60;
                svg{
                    width:16px;
                    height:16px; 
                }
                &:hover{
                    span{
                        color: patterns.$secondaryTxt;
                    }
                    svg{
                        fill: patterns.$secondaryTxt;
                        
                    }
                }
                span{
                    margin-right: 10px;
                }

                @media (max-width: 768px){
                    
                    span{
                        display: none;
                    }

                    svg{
                        width:24px;
                        height:24px; 
                    }
                }
            }

            

            &--gradient{
                @include gradientBg();
                padding: 9px 24px;
                border-radius: 40px;
                color:#000;
                margin:18px 32px 18px auto;
                opacity: 1;
                visibility: visible;
                transition: opacity .3s, visibility .3s;

                &--hide{
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity .3s, visibility .3s;
                }

                @media (max-width: 768px){
                    margin:14px auto;

                }
            }
        }
    }
}    

