@use "patterns";
@use "nav";

@keyframes fadeInBackground {
    from {
        border: solid 2px patterns.$elphabaGreen;
        background-color: #0000;
    }
    to {
        border: solid 2px patterns.$elphabaGreenborder;
        background-color: patterns.$elphabaGreen;
    }
}

@keyframes fadeOutBackground {
    from {
        border: solid 2px patterns.$elphabaGreenborder;
        background-color: patterns.$elphabaGreen;
    }
    to {
        
        border: solid 2px patterns.$elphabaGreen;
        background-color: #0000;
    }
}

.home{
    margin-top: 72px;
    width: 100vw;
    position: absolute;
    
    
    &_container{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        &_content{
            position: fixed;
            bottom: 16%;
            z-index: -1;
            @media (max-width: 768px){
                bottom: 48px;
            }

            button{
                color:#fff;
                padding: 9px 24px;
                border-radius: 40px;
                background-color: #0000;
                border: solid 2px patterns.$elphabaGreen;
                cursor: pointer;
                animation: fadeOutBackground 0.4s forwards;

        

                &:hover{
                    animation: fadeInBackground 0.4s forwards;
                    border-color: patterns.$elphabaGreenborder;
                    background-color: patterns.$elphabaGreen;
                }
            }
        }

        &_links{
            position: fixed;
            right: 40px;
            bottom:32px;
            z-index: 3;
            @media (max-width: 768px){
                right: 24px;
                bottom:20px;
            }
            

            ul{
                display: flex;
                list-style: none;
                align-items: center;
                flex-flow: row nowrap;
                gap:40px;

                @media (max-width: 768px){
                    gap:36px
                }
            }

            a{
                text-decoration: none;
            }

            svg{
                fill:#fff;
                width:24px; 
                height:24px;
                &:hover{
                    fill: patterns.$secondaryTxt;
                }

                @media (max-width: 768px){
                    width:18px; 
                    height:18px;
                }
            }

            @media (max-width: 768px){
                visibility: hidden;
                opacity: 0;
                //transition: opacity .2s, visibility .2s;
                
            }
        }

    }


}

.home_container_links--is-visible{
    visibility: visible;
    opacity: 1;
    transition: opacity 3s ease, visibility .3s ease;
}