@use "patterns";
@use "header";
@use "home";
@use "nav";
@use "footer";
@use "share-popout";
@use "trailer-popout";
@use "burger";
@use "reminder";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

body{
    background-color: #000;
}

.bgTitle{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top:0;
    #bgTitleVideo{
        display: block;
        margin: auto;
        height: 100%;
        width: 100%;

        @media (max-width: 768px){
            display: none;
        }
    }
    #bgTitleVideoMobile{
        display: none;
        @media (max-width: 768px){
            display: block;
            margin: auto;
            height: 100%;
            width: 100%;
        }
    }
}



